body {
    width: 100%;
    background: #FEF5F5;
}

#header {
    position: absolute;
    width: 100%;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    margin-left: 150px;
}

#nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
}

#nav ul li {
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
}

#main {
    margin-top: 150px;
}

.banner_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_left {
    padding-left: 150px;
    color: #1D15A2;
    display: flex;
    flex-direction: column;
}

.banner_left p {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.banner_left h3 {
    font-size: 40px;
}

.banner_left img {
    /* font-weight: bold;
    -webkit-text-stroke: 0.1px #1D15A2;
    text-shadow: -1px 0 #1D15A2,
        0 1px #1D15A2,
        1px 0 #1D15A2,
        0 -1px #1D15A2; */
}

.banner-text img {
    width: 90%;
}

.banner_right img {
    width: 75%;
    margin-right: 50px;
}

.arrow_img img {
    width: 20%;
}

.sns_img img {
    margin: 40px 5px 0 0;
}

.Rectangle {
    margin-top: 50px;
}

.Rectangle img:first-child {
    position: relative;
    width: 100%;
    z-index: 1;
}

.Rectangle img:last-child {
    width: 100%;
    margin-top: -120px;
}

.Rectangle2 {
    display: flex;
    flex-direction: row;
    color: #1D15A2;
    margin-left: 300px;
}

.Rectangle_img img {
    width: 90%;
}

.Rectangle_text {
    margin-top: 40px;
}

.Rectangle_text1 {
    width: 45%;
}

.Rectangle_text1 h5 {
    display: block;
    font-size: 16px;
    padding-left: 40px;
    margin-top: -35px;
}

.Rectangle_text1 p {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 13px;
}

.Rectangle_text2 {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.Rectangle_text2 h5 {
    display: block;
    font-size: 16px;
    padding-left: 40px;
    margin-top: -35px;
}

.Rectangle_text2 p {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 13px;
    width: 60%;
}

.service_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    color: #1D15A2;
}

.service_text h3 {
    letter-spacing: 2px;
    font-weight: 600;
}

.service_text h1 {
    font-size: 115px;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: -1.5px 0 #1D15A2,
        0 1.5px #1D15A2,
        1.5px 0 #1D15A2,
        0 -1.5px #1D15A2;
    margin-bottom: -200px;
}

.service_img img {
    width: 100%;
    text-align: ce0nter;
}

.brand {
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: center;
    align-items: flex-start;
    color: #1D15A2;
}

.brand_text p:first-child {
    font-size: 10px;
    font-weight: bold;
}

.brand_text p:last-child {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
}

.stalk {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.stalk img {
    width: 50%;
    margin: auto;
}

.stalk div {
    margin: auto;
    margin-top: -90px;
    margin-left: 420px;
    margin-bottom: 150px;
    font-size: 20px;
    letter-spacing: 1px;
}

.stalk div {
    display: flex;
    flex-direction: row;
}

.stalk div img {
    width: 30%;
}

.stalk h5 {
    font-size: 30px;
    margin: -150px 0 50px 420px;
    letter-spacing: 3px;
}

.blogs div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blogs:nth-child(4) {
    margin: 30px auto;
    text-align: center;
    background-color: #1D15A2;
}